[submodule "src/shared/defguard-ui"]
	path = src/shared/defguard-ui
	url = https://github.com/DefGuard/ui.git
[submodule "src-tauri/proto"]
	path = src-tauri/proto
	url = https://github.com/DefGuard/proto.git
[submodule "swift/boringtun"]
	path = swift/boringtun
	url = https://github.com/DefGuard/boringtun.git
